body{
    margin: 0;
}
button{
    width:100px;
    /* border: 3px solid ; */
    background-color: blanchedalmond;
    border-radius: 10px;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}
.header{
    display: flex;
    padding: 10px;

    justify-content: center;
}

.header .text{
    font-size: 48px;
    font-weight: 400;
}

.play-container{
    display: flex;
    flex: 1;
    /* border: 3px solid orange; */
}

.human{
    flex: 1;
    display: flex;
    flex-direction: column;

    /* border: 1px solid red; */
}

.computer{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.dp-container{
    flex: 1;
    display: flex;
    /* flex-direction: column; */

    border-bottom: 3px solid black;
    
    justify-content: center;
    align-items: center;
    gap: 80px;
}


.dp-container img{
    width: 200px;
    max-width: 100%;
    /* height: auto; */
    /* border: 1px solid red; */
}
.dp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computer .dp{
    gap: 28px;
}
.human-svg{
    justify-content: center;
    align-items: end;
    /* border: 1px solid red; */
    
}

.human-svg img{
    width: 50px;
}

.computer-svg{
    /* border: 1px solid red; */
    width: 50px;

    justify-content: center;
}


.img-text{
    font-size: 16px;
    font-weight: 900;
}
.human-controls{
    flex:2;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.buttonz{
    display: flex;
    flex-direction: column;

    flex:5;
    align-items: center;

    gap: 10px;
    /* border: 1px solid green; */
}

.playround-container{
    display: flex;
    flex:1;
    margin: 15px;

    align-items: center;
    justify-content: center;
}


.scores{
    flex: 2;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */

}

.scoreboard{
    margin-top: 100px;
    font-size: large;
    font-weight: 700;
}

.Human-score, .Computer-score{
    display: flex;
}

